<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Product</title>
</head>
<body>
    <h1><%= product.name %></h1>
    <ul>
        <li>
            <strong>Brand:</strong>
            <%= product.brand %>
        </li>
        <li>
            <strong>Color:</strong>
            <%= product.color %>
        </li>
        <li>
            <strong>Price:</strong>
            <%= product.price %>
        </li>
        <li>
            <strong>Category:</strong>
            <%= product.category %>
        </li>
    </ul>
    <a href="/products">Back</a>
    <a href="/products/<%= product._id %>/edit">Edit</a>
    <form action="/products/<%= product._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
</body>
</html>